@if (duration()>0) {
    <app-counter [duration]="duration()" [message]="message()" ></app-counter>
}

<p>Lorem ipsum dolor sit amet <span highlight>consectetur</span>, adipisicing elit. Perferendis excepturi delectus earum non asperiores error ducimus quae dolore adipisci dicta corporis neque nostrum exercitationem deserunt mollitia, doloremque, ea pariatur voluptatum!</p>

<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
        <div class="mt-2">
            <input type="text" [value]="message()" (change)="changeMeesage($event)" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3">
        </div>
    </div>

    <div class="sm:col-span-3">
        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Duration</label>
        <div class="mt-2">
            <input type="number"[value]="duration()" (change)="changeDuration($event)" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3">
        </div>
    </div>

</div>


<app-wave-audio audioUrl="../../../../../assets/audio/theme.mp3" ></app-wave-audio>
