<section class="container__products flex gap-5">

    <aside class="space-x-4 aside_products">
        <h4>Categories</h4>
        <ul>
            <li class="text-gray-600">
                <a routerLink="/">All products</a>
            </li>
            @for (category of categories(); track $index) {
                <li class="text-gray-600" >
                    <a routerLink="/" [queryParams]="{category_id: category.id}" >{{category.name}}</a>
                </li>
            }
        </ul>
    </aside>

    <div class="grid grid-cols-4 gap-4 m-4">
        @for (product of products(); track $index) { 
            <app-product 
                [product]="product"
                (addToCart)="addProductToCart(product)">
            </app-product>
        }
    </div>

</section>    




